[Unit]
Description=Weather Station Pusher
After=network.target

[Service]
ExecStart=/home/ashishnarain/WeatherStation/venv/bin/python /home/ashishnarain/WeatherStation/pusher.py
WorkingDirectory=/home/ashishnarain/WeatherStation
EnvironmentFile=/home/ashishnarain/WeatherStation/.env
Restart=always
RestartSec=30
User=ashishnarain

[Install]
WantedBy=multi-user.target
