[Unit]
Description=Weather Station Pusher
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/WeatherStation/pusher.py
WorkingDirectory=/home/pi/WeatherStation
EnvironmentFile=/home/pi/WeatherStation/.env
Restart=always
RestartSec=30
User=pi

[Install]
WantedBy=multi-user.target
